<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe del Cultivo</title>
    
</head>
<body>
    <header>
        <h1>Informe del Cultivo</h1>
    </header>

    <main>
        <div id="image-path">
            Ruta de la imagen: <%= imgPath %>
        </div>
        
        <form id="ayuda-form" action="/ayuda" method="post" style="display: none;">
            <input type="hidden" name="img_path" id="img-path-input">
        </form>
        
        <button id="ayuda-button">Solicitar Ayuda</button>

    </main>

    <footer>
        <p>&copy; 2024 Tu Empresa</p>
    </footer>
    
    
    <script>
        document.getElementById('ayuda-button').addEventListener('click', function() {
            const imgPath = '<%= imgPath %>';
            document.getElementById('img-path-input').value = imgPath;
            document.getElementById('ayuda-form').submit();
        });
    </script>
</body>
</html>

