<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe del Cultivo</title>
    
</head>
<body>
    <header>
        <h1>Informe del Cultivo</h1>
    </header>

    <main>
        <div id="image-path">
            Ruta de la imagen: <%= imgPath %>
        </div>
        <button id="ayuda-button">Solicitar Ayuda</button>
    </main>

    <footer>
        <p>&copy; 2024 Tu Empresa</p>
    </footer>
    <script>
        // Definir una variable global de JavaScript para almacenar el valor de imgPath
        const imgPath = '<%= imgPath %>';
        
    </script>
    <script>
        document.getElementById('ayuda-button').addEventListener('click', function() {
            console.log(imgPath);
            fetch('/ayuda', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ img_path: imgPath })
                
            })
            .catch(error => console.error('Error al enviar solicitud de ayuda:', error));
        });
    </script>
</body>
</html>

